Wasla_Backend/badwords.txt  
Wasla_Backend/train.csv  
.vs/  
bin/  
obj/ 
Wasla_Backend/wwwroot/assets/  
Wasla_Backend/Properties/PublishProfiles/  
Wasla_Backend/appsettings.json
Wasla_Backend/*.pubxml
Wasla_Backend/*.user 
Wasla_Backend/Properties/PublishProfiles/launchSettings.json
Wasla_Backend/appsettings.Development.json
Wasla_Backend/.config/
/Wasla_Backend/bad words.txt
/Wasla_Backend/libman.json
